@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


*, *::before, *::after{
    box-sizing: border-box;
}

.custom-field{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 5px;
}

.custom-field input{
    padding: 19px 20px 20px 5px;
    width: 500px;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: text;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.custom-field .placeholder{
    position: absolute;
    left: 5px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
    top: 20px;
    font-size: 13px;
    color: rgb(255, 0, 0);
}

.message{
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: steelblue;
}

.success{
    font-size: 18px;
    margin-top: 15px;
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span#error{
    width: 350px;
    display: flex;
}
span#email_error{
    width: 350px;
}
.form-select{
    line-height: 2.6!important;
    width: 500px!important;
}
.card-header h3{
    margin-top: 100px!important;
}